<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.csci.teamshifty"
    android:versionCode="6"
    android:versionName="3.1" >

    <uses-sdk android:minSdkVersion="19" />

    <application
        android:name="com.util.userInfo"
        android:icon="@drawable/shift"
        android:label="@string/app_name" >
        <activity
            android:name="com.start.Main"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.start.login"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.start.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity android:name="com.service.CreateShift" >
        </activity>
        <activity
            android:name="com.service.MSMpage"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" >
        </activity>
        <activity android:name="com.service.ShiftHistory" >
        </activity>
        <activity android:name="com.service.SendMSM" >
        </activity>
        <activity android:name="com.service.CreateList" >
        </activity>
        <activity android:name="com.util.HouseActivity" >
        </activity>
        <activity android:name="com.service.QuestionRest" >
        </activity>
        <activity android:name="com.service.RecoverPass" >
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="970e3c6e7f453e1420b1b37d79eec26a92531f27" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />

</manifest>